* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  background-color: #fff;
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 30px;
  font-family: segoeui;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
nav .logo .logoimg {
  background-image: url(/images/books-stack-of-three.png);
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .searchbar {
  width: 604px;
  height: 44px;
  background-color: #587C83;
  display: flex;
  align-items: baseline;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 5px;
}
nav .searchbar .searchimg {
  background-image: url(/images/search.png);
  height: 18px;
  width: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .searchbar p {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 12px;
}
nav .mainpages {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .mainpages a:hover {
  font-family: segoeuiB;
}
nav .mainpages .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
nav .mainpages .account .accountimg {
  background-image: url(/images/user.png);
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .mainpages .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
nav .mainpages .cart .cartimg {
  background-image: url(/images/shopping-cart.png);
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav a {
  color: #000;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 1px;
  background-color: #000;
}

@font-face {
  font-family: segoeui;
  src: url(/css/fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeuiB;
  src: url(/css/fonts/segoeuib.ttf);
}
footer {
  width: 100%;
  height: 60px;
  background-color: #587C83;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: segoeui;
}
footer .copyright {
  margin-left: 50px;
}
footer .footerlinks {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
footer .footerlinks a {
  color: #fff;
  text-decoration: none;
}
footer .footerlinks a:hover {
  font-family: segoeuiB;
}
footer .socials {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  width: 150px;
}
footer .socials .facebook {
  background-image: url(/images/logos/white/facebook_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer .socials .insta {
  background-image: url(/images/logos/white/instagram_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer .socials .twitter {
  background-image: url(/images/logos/white/twitter_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.homepage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.homepage .homehero {
  width: 1500px;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 123, 0.5), rgba(88, 124, 123, 0.5)), url(../images/home-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 158px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.homepage .homehero .homeherotext {
  display: flex;
  flex-direction: column;
  margin-right: 182px;
}
.homepage .homehero .homeherotext .homeherotexttop {
  font-size: 32px;
  font-family: segoeuiB;
  color: white;
}
.homepage .homehero .homeherotext p {
  color: white;
  font-family: segoeui;
}

.homepage2 {
  display: flex;
  justify-content: center;
  height: 100%;
}
.homepage2 .homebookscont {
  width: 93%;
  height: 841px;
  margin-top: 176px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 188px;
}
.homepage2 .homebookscont .book1cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 413px;
}
.homepage2 .homebookscont .book1cont .book1img {
  margin: 0 auto;
  height: 491px;
  width: 306px;
  background-image: url(/images/to-kill-a-mockingbird.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book2img {
  margin: 0 auto;
  height: 491px;
  width: 322px;
  background-image: url(/images/becoming.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book3img {
  margin: 0 auto;
  height: 491px;
  width: 327px;
  background-image: url(/images/firestarter.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book1text {
  font-family: segoeui;
  text-align: center;
}
.homepage2 .homebookscont .book1cont .book1price {
  font-size: 32px;
  font-family: segoeuiB;
  text-align: center;
}
.homepage2 .homebookscont .book1cont .addtocart {
  width: 222px;
  height: 68px;
  margin: 0 auto;
  background-color: white;
  font-family: segoeui;
}

@media all and (max-width: 1400px) {
  .homepage2 {
    height: 2700px;
  }
  .homebookscont {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .book1cont {
    margin-bottom: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
