* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  width: 100%;
}

nav {
  background-color: #fff;
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 30px;
  font-family: segoeui;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
nav .logo .logoimg {
  background-image: url(/images/books-stack-of-three.png);
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .searchbar {
  width: 604px;
  height: 44px;
  background-color: #587C83;
  display: flex;
  align-items: baseline;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 5px;
}
nav .searchbar .searchimg {
  background-image: url(/images/search.png);
  height: 18px;
  width: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .searchbar p {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 12px;
}
nav .mainpages {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .mainpages a:hover {
  font-family: segoeuiB;
}
nav .mainpages .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
nav .mainpages .account .accountimg {
  background-image: url(/images/user.png);
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav .mainpages .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}
nav .mainpages .cart .cartimg {
  background-image: url(/images/shopping-cart.png);
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
}
nav a {
  color: #000;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 1px;
  background-color: #000;
}

@font-face {
  font-family: segoeui;
  src: url(/css/fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeuiB;
  src: url(/css/fonts/segoeuib.ttf);
}
footer {
  width: 100%;
  height: 60px;
  background-color: #587C83;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: segoeui;
}
footer .copyright {
  margin-left: 50px;
}
footer .footerlinks {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
footer .footerlinks a {
  color: #fff;
  text-decoration: none;
}
footer .footerlinks a:hover {
  font-family: segoeuiB;
}
footer .socials {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  width: 150px;
}
footer .socials .facebook {
  background-image: url(/images/logos/white/facebook_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer .socials .insta {
  background-image: url(/images/logos/white/instagram_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}
footer .socials .twitter {
  background-image: url(/images/logos/white/twitter_w.png);
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.homepage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.homepage .homehero {
  width: 1500px;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 123, 0.5), rgba(88, 124, 123, 0.5)), url(../images/home-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 158px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.homepage .homehero .homeherotext {
  display: flex;
  flex-direction: column;
  margin-right: 182px;
}
.homepage .homehero .homeherotext .homeherotexttop {
  font-size: 32px;
  font-family: segoeuiB;
  color: white;
}
.homepage .homehero .homeherotext p {
  color: white;
  font-family: segoeui;
}

.homepage2 {
  display: flex;
  justify-content: center;
  height: 100%;
}
.homepage2 .homebookscont {
  width: 93%;
  height: 841px;
  margin-top: 176px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 188px;
}
.homepage2 .homebookscont .book1cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 413px;
}
.homepage2 .homebookscont .book1cont .book1img {
  margin: 0 auto;
  height: 491px;
  width: 306px;
  background-image: url(/images/to-kill-a-mockingbird.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book2img {
  margin: 0 auto;
  height: 491px;
  width: 322px;
  background-image: url(/images/becoming.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book3img {
  margin: 0 auto;
  height: 491px;
  width: 327px;
  background-image: url(/images/firestarter.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage2 .homebookscont .book1cont .book1text {
  font-family: segoeui;
  text-align: center;
}
.homepage2 .homebookscont .book1cont .book1price {
  font-size: 32px;
  font-family: segoeuiB;
  text-align: center;
}
.homepage2 .homebookscont .book1cont .addtocart {
  width: 222px;
  height: 68px;
  margin: 0 auto;
  background-color: white;
  font-family: segoeui;
}

@media all and (max-width: 1400px) {
  .homepage2 {
    height: 2700px;
  }
  .homebookscont {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .book1cont {
    margin-bottom: 100px;
  }
}
.aboutpage {
  height: 1891px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.aboutpage .aboutcont {
  display: flex;
  flex-direction: column;
  height: 1387px;
  width: 1567px;
  margin-top: 170px;
}
.aboutpage .about1 {
  height: 50%;
  width: 100%;
  display: flex;
  margin-bottom: 213px;
}
.aboutpage .about1 .about1img {
  height: 587px;
  width: 393px;
  background-image: url(/images/about-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutpage .about1 .about2img {
  height: 587px;
  width: 393px;
  background-image: url(/images/about-photo-two.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutpage .about1 .about1text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.aboutpage .about1 .about1text .about1textheader {
  font-size: 32px;
  font-family: segoeuiB;
  display: flex;
  justify-content: center;
}
.aboutpage .about1 .about1text .founded {
  font-size: 26px;
  font-family: segoeuiB;
  display: flex;
  justify-content: center;
}
.aboutpage .about1 .about1text .about1lorem {
  font-family: segoeuiB;
  margin-left: 40px;
  margin-top: 40px;
}

.bookspage {
  width: 100%;
  padding: 0 50px;
}
.bookspage .title {
  margin-top: 160px;
  margin-bottom: 65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
}
.bookspage .book-row4 {
  margin-bottom: 160px;
}
.bookspage .book-row,
.bookspage .book-row2,
.bookspage .book-row3,
.bookspage .book-row4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bookspage .book-row .book-row--book,
.bookspage .book-row2 .book-row--book,
.bookspage .book-row3 .book-row--book,
.bookspage .book-row4 .book-row--book {
  display: flex;
  width: 30%;
}
.bookspage .book-row .book-row--book img,
.bookspage .book-row2 .book-row--book img,
.bookspage .book-row3 .book-row--book img,
.bookspage .book-row4 .book-row--book img {
  width: 210px;
  height: 260px;
  margin-right: 30px;
}
.bookspage .book-row .book-row--book .desc,
.bookspage .book-row2 .book-row--book .desc,
.bookspage .book-row3 .book-row--book .desc,
.bookspage .book-row4 .book-row--book .desc {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  max-width: 70%;
}
.bookspage .book-row .book-row--book .desc button,
.bookspage .book-row .book-row--book .desc p,
.bookspage .book-row2 .book-row--book .desc button,
.bookspage .book-row2 .book-row--book .desc p,
.bookspage .book-row3 .book-row--book .desc button,
.bookspage .book-row3 .book-row--book .desc p,
.bookspage .book-row4 .book-row--book .desc button,
.bookspage .book-row4 .book-row--book .desc p {
  margin-bottom: 37px;
}
.bookspage .book-row .book-row--book .desc button,
.bookspage .book-row2 .book-row--book .desc button,
.bookspage .book-row3 .book-row--book .desc button,
.bookspage .book-row4 .book-row--book .desc button {
  width: 222px;
  height: 68px;
  border: 2px solid black;
  background-color: white;
}

@media all and (max-width: 1420px) {
  .bookspage {
    padding: 0 50px;
  }
  .bookspage .title {
    margin-top: 63px;
    margin-bottom: 65px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .bookspage .title h1 {
    font-size: 12px;
  }
  .bookspage .book-row4 {
    margin-bottom: 0px;
  }
  .bookspage .book-row,
.bookspage .book-row2,
.bookspage .book-row3,
.bookspage .book-row4 {
    flex-direction: column;
    align-items: center;
  }
  .bookspage .book-row .book-row--book,
.bookspage .book-row2 .book-row--book,
.bookspage .book-row3 .book-row--book,
.bookspage .book-row4 .book-row--book {
    display: flex;
    width: 500px;
  }
  .bookspage .book-row .book-row--book img,
.bookspage .book-row2 .book-row--book img,
.bookspage .book-row3 .book-row--book img,
.bookspage .book-row4 .book-row--book img {
    width: 110px;
    height: 130px;
    margin-right: 30px;
  }
  .bookspage .book-row .book-row--book .desc,
.bookspage .book-row2 .book-row--book .desc,
.bookspage .book-row3 .book-row--book .desc,
.bookspage .book-row4 .book-row--book .desc {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    width: 100%;
  }
  .bookspage .book-row .book-row--book .desc p,
.bookspage .book-row2 .book-row--book .desc p,
.bookspage .book-row3 .book-row--book .desc p,
.bookspage .book-row4 .book-row--book .desc p {
    margin-bottom: 17px;
    word-wrap: normal;
  }
  .bookspage .book-row .book-row--book .desc button,
.bookspage .book-row2 .book-row--book .desc button,
.bookspage .book-row3 .book-row--book .desc button,
.bookspage .book-row4 .book-row--book .desc button {
    width: 126px;
    height: 37px;
    border: 2px solid black;
    background-color: white;
    font-size: 11px;
    margin-bottom: 46px;
  }
}
.accountpage {
  display: flex;
  height: 85vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.accountpage .sign-in-wrapper {
  width: 233px;
  display: flex;
  flex-direction: column;
}
.accountpage .sign-in-wrapper h1 {
  font-family: segoeui;
  font-size: 26px;
  margin-bottom: 44px;
}
.accountpage .sign-in-wrapper p {
  font-family: segoeui;
}
.accountpage .sign-in-wrapper input[type=text] {
  font-size: 16px;
  margin-bottom: 44px;
  border: none;
  outline: none;
  border-bottom: 2px black solid;
}
.accountpage .sign-in-wrapper input[type=submit] {
  width: 170px;
  height: 45px;
  color: white;
  border: none;
  background-color: #587c83;
}

/*# sourceMappingURL=styles.css.map */
