.blogcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .last {
    margin-bottom: 117px;
  }

  .blogs-row {
    height: 463px;
    margin-top: 117px;
    background-color: #587c83;
    max-width: 80vw;
    display: flex;

    .blogs-image {
      display: flex;
    }

    .feb {
      padding-left: 50px;
      padding-top: 43px;
    }
    .feb img {
      width: 246px;
      height: 376px;
    }

    img {
      margin-right: 114px;
      height: 463px;
      width: 622px;
    }

    .blogs-text {
      padding: 50px;
      width: 40%;
      padding-left: 40px;
      color: white;
      font-family: segoeui;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;

      h1 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }

      button {
        width: 222px;
        height: 68px;
        background-color: #587c83;
        border: 2px white solid;
        color: white;
      }
    }
  }
}

@media all and (max-width: 850px) {
  .blogcontent {
    .last {
      margin-bottom: 117px;
    }

    .blogs-row {
      height: 229px;
      margin-top: 117px;
      background-color: #587c83;
      width: 80vw;
      display: flex;

      .blogs-image {
        display: flex;
      }

      .feb {
        padding-left: 50px;
        padding-top: 43px;
      }
      .feb img {
        width: 96px;
        height: 146px;
      }

      img {
        margin-right: 20px;
        height: 229px;
        width: 300px;
      }

      .blogs-text {
        padding: 30px 10px;
        width: 45%;
        // padding-left: 10px;
        color: white;
        font-family: segoeui;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        h1 {
          font-size: 12px;
        }
        p {
          font-size: 11px;
        }

        button {
          width: 89px;
          height: 34px;
          background-color: #587c83;
          border: 2px white solid;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
}

// blog page content

.blogpagecontent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .hero {
    margin-top: 163px;
    margin-bottom: 117px;
    width: 80vw;
    height: 463px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 151px 0px;

    h1,
    p,
    h2 {
      color: white;
      font-family: segoeui;
    }
  }

  #eread {
    background-image: linear-gradient(
        rgba(88, 124, 131, 0.6),
        rgba(88, 124, 131, 0.6)
      ),
      url(../images/eread-hero.jpg);
  }

  #bookclub-img {
    background-image: linear-gradient(
        rgba(88, 124, 131, 0.6),
        rgba(88, 124, 131, 0.6)
      ),
      url(../images/book-club-hero.jpg);
  }
}

.blog-text {
  width: 80%;
  display: flex;

  .blog-image {
    width: 646px;
    height: 464px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .--bookclub {
    background-image: url(../images/open-book-blog.jpg);
  }

  .--eread {
    background-image: url(../images/ereading-blog.jpg);
  }

  .blog-p {
    width: 65%;
    padding-left: 20px;
    font-family: segoeui;
    font-size: 16;
    margin-bottom: 200px;
  }
}

.feb-row {
  display: flex;
  width: 80vw;
  margin-bottom: 140px;

  .feb-img {
    width: 250px;
    height: 380px;
    background-color: black;
    background-size: cover;
    background-position: center;
  }

  .--michelle {
    background-image: url(../images/becoming.jpg);
  }

  .--viola {
    background-image: url(../images/finding-me.jpg);
  }

  .feb-text {
    width: 75%;
    padding-left: 20px;

    h2 {
      margin-bottom: 40px;
    }

    h2,
    p {
      font-family: segoeui;
    }

    p {
      font-size: 16px;
    }
  }
}

@media all and (max-width: 850px) {
}
